@import "tailwindcss";

@theme {
  --color-primary-dark: #15803d;
  --color-primary: #22c55e;
  --color-secondary: #ef4444;
  --color-tertiary: #f59e0b;
  --color-light: #f3f4f6;
  --color-primary-light: #bbf7d0;
  --color-secondary-light: #fee2e2;
  --color-tertiary-light: #fde68a;
}

.border-half {
  position: relative;
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    top: 105%;
    left: 0;
    width: 50%;
    height: 4px;
    background-color: var(--color-primary);
  }
}

.slick-slider {
  position: relative;

  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transition: all;
  }

  &:hover {
    .slick-arrow {
      opacity: 1;
      visibility: visible;
    }

    .slick-prev {
      left: 0;
    }

    .slick-next {
      right: 0;
    }
  }

  .slick-active {
    .banner__text {
      p {
        animation: ScrollLeft 0.5s linear;
      }

      h1 {
        animation: ScrollTop 0.5s linear;
      }
    }
  }
}

/* loader */
.loader {
  width: 64px;
  height: 64px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: var(--color-primary);
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
